<!DOCTYPE html>
<html>
	<head>
		<link href="/css/app.css" rel="stylesheet" />
	</head>
	<body>
		<h1>
			Welcome to Run Tracker
			<% if(currentUser) { %>
				<!-- show user name if logged in -->
				<%=currentUser.username%>
			<% } %>
		</h1>
		<% if(currentUser) { %>
			<!-- show app if user is logged in -->
			<svg>
				<svg id="container"><!-- crops circles within axes -->
					<g id="points"></g><!-- used for zooming -->
				</svg>
			</svg>
			<form action="/logins?_method=DELETE" method="POST">
				<!-- log out button -->
				<input type="submit" value="Log Out"/>
			</form>
			<script src="https://d3js.org/d3.v4.min.js"></script>
			<script src="/js/app.js"></script>
		<% } else { %>
			<!-- if not logged in, show sign up/log in links -->
			<nav>
				<ul>
					<li><a href="/users/new">Sign Up</a></li>
					<li><a href="/logins/new">Log In</a></li>
				</ul>
			</nav>
		<% } %>
	</body>
</html>
